html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.card-columns {
  column-count: 1;
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-columns .card {
  width: 200px;
}


