html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.container .card-columns {
  column-count: 3;
}

.container {
  max-width: 1080px;
}

.pricing-header {
  max-width: 700px;
}

.card-columns .card {
  width: 280px;

}


