<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet" th:ref="@{/css/bootstrap.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="/js/addcurso.js"></script>

</head>
<body>
<div th:replace="/nav :: common-navbar-cursos" />
<div class="container">
    <br>
    <h2>Agregar Curso</h2>
    <form action="#" th:action="@{/savecurso}" th:object="${curso}" method="post">
        <div class="form-group">
            <label for="nombre">Nombre del curso</label>
            <input type="text" class="form-control" id="nombre" th:field="*{nombre}" name="nombre">
        </div>

        <input type="hidden" th:field="*{id}" name="id" id="id">

        <div class="form-group">
            <div class="dropdown">
                <select th:field="*{idProfesorJefe}">
                    <option value="0">Profesor Jefe</option>
                    <option th:each="user : ${listProfesores}"
                            th:value="${user.id}"
                            th:text="${user.nombre}"></option>
                </select>
            </div>
        </div>

        <button type="submit" class="btn btn-success">Guardar</button>
    </form>
</div>
</body>
</html>