<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="generator" content="Jekyll v4.0.1">
    <title>Intranet </title>
    <link href="../css/bootstrap.min.css" rel="stylesheet" th:ref="@{/css/bootstrap.css}">

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/dashboard/">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="cursos.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="../css/dashboard.css" rel="stylesheet">
</head>
<body>
<div th:replace="/nav :: common-navbar-cursos" />


<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Cursos</h1>
    <p class="lead">Lista de cursos de la Escuela Arcoíris de San Clemente.</p>
</div>

<div class="container">
    <div class="card-columns">
        <a  th:href="@{'/setnivel/' + ${curso.nivel}}" th:each="curso : ${lista}">
            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;" >
                <!--<div class="card-header">Nro archivos:</div>-->
                <div class="card-body">
                    <h5 class="card-title"><span th:text="${curso.nombre}"></span></h5>
                    <p class="card-text">Profesor Jefe: <span th:each="user, stats : ${listaProfesores}" th:if="${user.id} == ${curso.idProfesorJefe}" th:text="${user.nombre}+' '+${user.apellido}"></span> </p>
                </div>
            </div>
        </a>
    </div>
</div>
</body>
</html>