<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet" th:ref="@{/css/bootstrap.css}">
</head>
<body>
<div th:replace="/nav :: common-navbar-board" />

<div class="container">
    <br>
    <h2>Agregar Archivos</h2>
    <br>

    <form action="#" th:action="@{/upload}" th:object="${archivo}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <div class="dropdown">
                <select>
                    <option value="0">Planificacion anual</option>
                    <option value="1">Planificacion mensual</option>
                    <option value="2">Red de contenidos</option>
                    <option value="3">Escala de apreciacion</option>
                    <option value="4">Evaluacion diagnostica</option>
                    <option value="5">Evaluacion pedagogica</option>
                    <option value="6">Registro visual</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="custom-file">
                <input type="file" name="file" class="custom-file-input" id="customFileLang" lang="es">
                <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
            </div>
        </div>
        <p th:text="${message}" th:if="${message != null}" class="alert alert-primary"></p>
        <button type="submit" class="btn btn-success">Guardar</button>
    </form>
</div>
</body>
</html>