<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de usuarios</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet" th:ref="@{/css/bootstrap.css}">
</head>
<body>
<div th:replace="/nav :: common-navbar" />
    <div class="container">
                <h2>Usuarios</h2>
                <div>
                    <a href="/save/0" class="btn btn-primary">Agregar Usuario</a>
                    <a href="/archivos" class="btn btn-primary">Archivos</a>
                    <a href="/entrar" class="btn btn-primary">Login</a>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Contraseña</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user : ${list}">
                            <td th:text="${user.id}"></td>
                            <td th:text="${user.nombre}"></td>
                            <td th:text="${user.password}"></td>
                        </tr>
                    </tbody>
                </table>
    </div>
</body>
</html>