<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="generator" content="Jekyll v4.0.1">
    <title>Intranet </title>
    <link href="../css/bootstrap.min.css" rel="stylesheet" th:ref="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap core CSS
    <link rel="stylesheet" th:ref="@{usuarios.css}">-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/usuarios.css}"/>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>
<body>
<div th:replace="/nav :: common-navbar-usuarios" />

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Usuarios</h1>
    <p class="lead">Lista de usuarios registrados de la Escuela Arcoíris de San Clemente.</p>
</div>

<div class="container">
    <div class="card-columns">
        <div class="card mb-3 shadow-sm" th:each="user : ${list}">
            <div class="card-header">
                <h5 class="my-0 font-weight-normal"><span th:text="${user.profesion}"></span></h5>
            </div>
            <div class="card-body">
                <h3 class="card-title pricing-card-title"><span th:text="${user.nombre}+' '+${user.apellido}"></span></h3>
                <!--
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Profesor jefe 8vo basico</li>
                </ul>-->
                <a th:href="@{'/setuser/' + ${user.id}}" class="btn btn-lg btn-block btn-primary">Ver sus documentos</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>